[packages]
fastapi = "*"
uvicorn = "*"
uvloop = "*"
pydantic = "*"
pydantic-settings = "*"
dependency-injector = "*"
loguru = "*"
orjson = "*"
starlette-prometheus = "*"
cachetools = "*"
aiokafka = "*"
mypy = "*"
ruff = "*"
sqlalchemy = "*"
alembic = "*"
asyncpg = "*"

[requires]
python_version = "3.12"

[dev-packages]
